In [ ]:

### **1. Create the `employees` table with all constraints**

```sql
CREATE TABLE employees (
    emp_id INT PRIMARY KEY NOT NULL,
    emp_name TEXT NOT NULL,
    age INT CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
);
```

---

### **2. Purpose of Constraints and Examples**

**Constraints** ensure **data accuracy, consistency, and integrity** in a database.

Common types:

* **PRIMARY KEY** – Uniquely identifies each record. Example: `emp_id`.
* **FOREIGN KEY** – Links records in two tables.
* **NOT NULL** – Prevents null values. Ensures required data is present.
* **UNIQUE** – Ensures all values in a column are different. Example: `email`.
* **CHECK** – Enforces specific conditions (e.g., `age >= 18`).
* **DEFAULT** – Provides a default value if none is supplied.

---

### **3. Why use NOT NULL? Can a Primary Key be NULL?**

* **NOT NULL** ensures a column always has a value.
* A **Primary Key cannot contain NULL** because it must uniquely identify each record.
* If NULLs were allowed, uniqueness couldn't be guaranteed (since NULL ≠ NULL).

---

### **4. Add or Remove Constraints on an Existing Table**

* **Add a constraint:**

```sql
ALTER TABLE employees
ADD CONSTRAINT age_check CHECK (age >= 18);
```

* **Remove a constraint:**

```sql
ALTER TABLE employees
DROP CONSTRAINT age_check;
```

(Note: Constraint names must be known or defined during creation.)

---

### **5. Consequences of Violating Constraints**

Violating constraints causes errors and prevents invalid data insertion or modification.

**Example:**

```sql
INSERT INTO employees (emp_id, emp_name, age, email)
VALUES (1, 'John', 16, 'john@example.com');
```

**Error:**

```
ERROR: new row for relation "employees" violates check constraint "employees_age_check"
```

---

### **6. Altering `products` table to add constraints**

```sql
ALTER TABLE products
ADD CONSTRAINT product_pk PRIMARY KEY (product_id);

ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;
```

---

### **7. INNER JOIN for student and class names**

Assume:

* `students(student_id, student_name, class_id)`
* `classes(class_id, class_name)`

```sql
SELECT s.student_name, c.class_name
FROM students s
INNER JOIN classes c ON s.class_id = c.class_id;
```

---

### **8. LEFT JOIN to show all products and related orders**

Assume:

* `orders(order_id, customer_id, product_id)`
* `customers(customer_id, customer_name)`
* `products(product_id, product_name)`

```sql
SELECT o.order_id, c.customer_name, p.product_name
FROM products p
LEFT JOIN orders o ON p.product_id = o.product_id
LEFT JOIN customers c ON o.customer_id = c.customer_id;
```

---

### **9. Total sales amount for each product**

Assume:

* `orders(order_id, product_id, quantity)`
* `products(product_id, product_name, price)`

```sql
SELECT p.product_name, SUM(o.quantity * p.price) AS total_sales
FROM orders o
INNER JOIN products p ON o.product_id = p.product_id
GROUP BY p.product_name;
```

---

### **10. Show order ID, customer name, and quantity**

Assume:

* `orders(order_id, customer_id)`
* `customers(customer_id, customer_name)`
* `order_details(order_id, product_id, quantity)`

```sql
SELECT o.order_id, c.customer_name, od.quantity
FROM orders o
INNER JOIN customers c ON o.customer_id = c.customer_id
INNER JOIN order_details od ON o.order_id = od.order_id;
```

In [ ]:
                                                 SQL COMMANDS

In [ ]:


### **1. Identify primary keys and foreign keys in Maven Movies DB**

**Primary Keys:**

* `actor(actor_id)`
* `customer(customer_id)`
* `film(film_id)`
* `rental(rental_id)`
* `inventory(inventory_id)`
* `payment(payment_id)`
* `address(address_id)`
* `city(city_id)`
* `country(country_id)`
* etc.

**Foreign Keys:**

* `customer.address_id → address.address_id`
* `address.city_id → city.city_id`
* `city.country_id → country.country_id`
* `inventory.film_id → film.film_id`
* `inventory.store_id → store.store_id`
* `rental.customer_id → customer.customer_id`
* `rental.inventory_id → inventory.inventory_id`
* `payment.customer_id → customer.customer_id`
* `payment.rental_id → rental.rental_id`

**Difference:**

* **Primary Key** uniquely identifies each record.
* **Foreign Key** links a record to another table, enforcing referential integrity.

---

### **2. List all details of actors**

```sql
SELECT * FROM actor;
```

---

### **3. List all customer information**

```sql
SELECT * FROM customer;
```

---

### **4. List different countries**

```sql
SELECT DISTINCT country FROM country;
```

---

### **5. Display all active customers**

```sql
SELECT * FROM customer WHERE active = 1;
```

---

### **6. Rental IDs for customer with ID 1**

```sql
SELECT rental_id FROM rental WHERE customer_id = 1;
```

---

### **7. Films with rental duration > 5**

```sql
SELECT * FROM film WHERE rental_duration > 5;
```

---

### **8. Count of films with replacement cost between \$15 and \$20**

```sql
SELECT COUNT(*) FROM film
WHERE replacement_cost > 15 AND replacement_cost < 20;
```

---

### **9. Count of unique actor first names**

```sql
SELECT COUNT(DISTINCT first_name) FROM actor;
```

---

### **10. First 10 records from customer table**

```sql
SELECT * FROM customer LIMIT 10;
```

---

### **11. First 3 customers whose first name starts with 'b'**

```sql
SELECT * FROM customer
WHERE first_name LIKE 'b%'
LIMIT 3;
```

---

### **12. First 5 movies rated as ‘G’**

```sql
SELECT title FROM film
WHERE rating = 'G'
LIMIT 5;
```

---

### **13. Customers whose first name starts with "a"**

```sql
SELECT * FROM customer
WHERE first_name LIKE 'a%';
```

---

### **14. Customers whose first name ends with "a"**

```sql
SELECT * FROM customer
WHERE first_name LIKE '%a';
```

---

### **15. First 4 cities that start and end with 'a'**

```sql
SELECT city FROM city
WHERE city LIKE 'a%a'
LIMIT 4;
```

---

### **16. Customers whose first name contains "NI"**

```sql
SELECT * FROM customer
WHERE first_name LIKE '%NI%';
```

---

### **17. Customers whose first name has "r" in second position**

```sql
SELECT * FROM customer
WHERE first_name LIKE '_r%';
```

---

### **18. Customers whose first name starts with "a" and is at least 5 characters**

```sql
SELECT * FROM customer
WHERE first_name LIKE 'a%' AND LENGTH(first_name) >= 5;
```

---

### **19. Customers whose first name starts with "a" and ends with "o"**

```sql
SELECT * FROM customer
WHERE first_name LIKE 'a%o';
```

---

### **20. Films with rating ‘PG’ or ‘PG-13’ using IN**

```sql
SELECT * FROM film
WHERE rating IN ('PG', 'PG-13');
```

---

### **21. Films with length between 50 and 100**

```sql
SELECT * FROM film
WHERE length BETWEEN 50 AND 100;
```

---

### **22. Top 50 actors**

```sql
SELECT * FROM actor
LIMIT 50;
```

---

### **23. Distinct film IDs from inventory table**

```sql
SELECT DISTINCT film_id FROM inventory;
```

In [ ]:

### ✅ **Question 1: Total number of rentals**

```sql
SELECT COUNT(*) AS total_rentals
FROM rental;
```

---

### ✅ **Question 2: Average rental duration (in days)**

```sql
SELECT AVG(rental_duration) AS average_rental_duration
FROM film;
```

> `rental_duration` is stored in the `film` table, representing the rental period for each film.

---

### ✅ **Question 3: Display customer names in uppercase**

```sql
SELECT UPPER(first_name) AS first_name_upper,
       UPPER(last_name) AS last_name_upper
FROM customer;
```

---

### ✅ **Question 4: Extract month from rental date with rental ID**

```sql
SELECT rental_id,
       MONTH(rental_date) AS rental_month
FROM rental;
```

---

### ✅ **Question 5: Count of rentals per customer**

```sql
SELECT customer_id,
       COUNT(*) AS rental_count
FROM rental
GROUP BY customer_id;
```

---

### ✅ **Question 6: Total revenue per store**

```sql
SELECT store_id,
       SUM(amount) AS total_revenue
FROM payment
JOIN staff ON payment.staff_id = staff.staff_id
GROUP BY store_id;
```

> `payment.staff_id → staff.store_id` is used to associate payments with stores.

---

### ✅ **Question 7: Total rentals per category**

```sql
SELECT c.name AS category_name,
       COUNT(r.rental_id) AS total_rentals
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
GROUP BY c.name;
```

---

### ✅ **Question 8: Average rental rate per language**

```sql
SELECT l.name AS language,
       AVG(f.rental_rate) AS average_rental_rate
FROM film f
JOIN language l ON f.language_id = l.language_id
GROUP BY l.name;
```

In [ ]:


### ✅ **Question 9: Movie title and customer name who rented it**

```sql
SELECT f.title,
       c.first_name,
       c.last_name
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN customer c ON r.customer_id = c.customer_id;
```

---

### ✅ **Question 10: Actors in "Gone with the Wind"**

```sql
SELECT a.first_name,
       a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE f.title = 'Gone with the Wind';
```

---

### ✅ **Question 11: Customer names and total amount spent**

```sql
SELECT c.first_name,
       c.last_name,
       SUM(p.amount) AS total_spent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name;
```

---

### ✅ **Question 12: Movies rented by each customer in 'London'**

```sql
SELECT c.first_name,
       c.last_name,
       f.title
FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
WHERE ci.city = 'London'
GROUP BY c.first_name, c.last_name, f.title;
```

---

### ✅ **Question 13: Top 5 most rented movies**

```sql
SELECT f.title,
       COUNT(r.rental_id) AS times_rented
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY f.title
ORDER BY times_rented DESC
LIMIT 5;
```

---

### ✅ **Question 14: Customers who rented from both stores (store 1 and store 2)**

```sql
SELECT customer_id
FROM (
    SELECT DISTINCT customer_id, store_id
    FROM rental r
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN staff s ON r.staff_id = s.staff_id
) AS customer_stores
GROUP BY customer_id
HAVING COUNT(DISTINCT store_id) = 2;
```

> Optionally, to get names:

```sql
SELECT c.first_name, c.last_name
FROM customer c
WHERE c.customer_id IN (
    SELECT customer_id
    FROM (
        SELECT DISTINCT customer_id, store_id
        FROM rental r
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN staff s ON r.staff_id = s.staff_id
    ) AS customer_stores
    GROUP BY customer_id
    HAVING COUNT(DISTINCT store_id) = 2
);

In [ ]:
                                            Windows Function:

In [ ]:

### ✅ **1. Rank the customers based on the total amount they've spent on rentals**

```sql
SELECT customer_id,
       first_name,
       last_name,
       SUM(amount) AS total_spent,
       RANK() OVER (ORDER BY SUM(amount) DESC) AS spending_rank
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id, first_name, last_name;
```

---

### ✅ **2. Calculate the cumulative revenue generated by each film over time**

```sql
SELECT f.title,
       r.rental_date,
       SUM(p.amount) OVER (PARTITION BY f.film_id ORDER BY r.rental_date) AS cumulative_revenue
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id;
```

---

### ✅ **3. Average rental duration for each film, considering films with similar lengths**

```sql
SELECT film_id,
       title,
       length,
       AVG(rental_duration) OVER (PARTITION BY length) AS avg_rental_duration_for_length_group
FROM film;
```

---

### ✅ **4. Top 3 films in each category based on rental counts**

```sql
SELECT category_name, title, rental_count
FROM (
    SELECT c.name AS category_name,
           f.title,
           COUNT(r.rental_id) AS rental_count,
           RANK() OVER (PARTITION BY c.name ORDER BY COUNT(r.rental_id) DESC) AS film_rank
    FROM rental r
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    JOIN film_category fc ON f.film_id = fc.film_id
    JOIN category c ON fc.category_id = c.category_id
    GROUP BY c.name, f.title
) ranked
WHERE film_rank <= 3;
```

---

### ✅ **5. Difference in rental counts between each customer and the average rentals**

```sql
SELECT customer_id,
       COUNT(rental_id) AS total_rentals,
       ROUND(AVG(COUNT(rental_id)) OVER (), 2) AS avg_rentals,
       COUNT(rental_id) - ROUND(AVG(COUNT(rental_id)) OVER (), 2) AS rental_diff
FROM rental
GROUP BY customer_id;
```

---

### ✅ **6. Monthly revenue trend for the entire rental store**

```sql
SELECT DATE_FORMAT(payment_date, '%Y-%m') AS month,
       SUM(amount) AS total_revenue
FROM payment
GROUP BY DATE_FORMAT(payment_date, '%Y-%m')
ORDER BY month;
```

---

### ✅ **7. Customers in top 20% by total spending**

```sql
WITH ranked_customers AS (
    SELECT customer_id,
           first_name,
           last_name,
           SUM(amount) AS total_spent,
           PERCENT_RANK() OVER (ORDER BY SUM(amount) DESC) AS percentile
    FROM customer
    JOIN payment ON customer.customer_id = payment.customer_id
    GROUP BY customer_id, first_name, last_name
)
SELECT *
FROM ranked_customers
WHERE percentile <= 0.2;
```

---

### ✅ **8. Running total of rentals per category**

```sql
SELECT c.name AS category_name,
       COUNT(r.rental_id) AS rental_count,
       SUM(COUNT(r.rental_id)) OVER (ORDER BY c.name) AS running_total
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
GROUP BY c.name;
```

---

### ✅ **9. Films rented less than the average rental count in their category**

```sql
WITH film_rentals AS (
    SELECT f.film_id,
           f.title,
           c.name AS category,
           COUNT(r.rental_id) AS rental_count
    FROM film f
    JOIN film_category fc ON f.film_id = fc.film_id
    JOIN category c ON fc.category_id = c.category_id
    JOIN inventory i ON f.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY f.film_id, f.title, c.name
),
avg_rentals AS (
    SELECT category,
           AVG(rental_count) AS avg_rentals
    FROM film_rentals
    GROUP BY category
)
SELECT fr.title,
       fr.category,
       fr.rental_count,
       ar.avg_rentals
FROM film_rentals fr
JOIN avg_rentals ar ON fr.category = ar.category
WHERE fr.rental_count < ar.avg_rentals;
```

---

### ✅ **10. Top 5 months with highest revenue**

```sql
SELECT revenue_month,
       total_revenue
FROM (
    SELECT DATE_FORMAT(payment_date, '%Y-%m') AS revenue_month,
           SUM(amount) AS total_revenue,
           RANK() OVER (ORDER BY SUM(amount) DESC) AS revenue_rank
    FROM payment
    GROUP BY DATE_FORMAT(payment_date, '%Y-%m')
) ranked_months
WHERE revenue_rank <= 5;
```

In [ ]:
                                          Normalisation & CTE

In [ ]:


## 🔷 Normalization

### ✅ **1. First Normal Form (1NF)**

> **1NF Rule**: All table attributes must contain **atomic** (indivisible) values.

**Violation Example:**

* Suppose a hypothetical table `customer_phone` with a column `phone_numbers` like:

  ```
  | customer_id | phone_numbers         |
  |-------------|------------------------|
  | 1           | 1234567890, 9876543210 |
  ```

**Fix:**

* Normalize into:

  ```
  customer_id | phone_number
  ------------|--------------
  1           | 1234567890
  1           | 9876543210
  ```

---

### ✅ **2. Second Normal Form (2NF)**

> **2NF Rule**: No **partial dependencies** on a composite primary key.

**Example Table**: `film_actor`

* Composite PK: (`film_id`, `actor_id`)
* If an attribute like `actor_name` was stored in this table, it's only dependent on `actor_id`.

**Fix:**

* Move `actor_name` to a separate `actor` table where `actor_id` is the primary key.

---

### ✅ **3. Third Normal Form (3NF)**

> **3NF Rule**: No **transitive dependencies** — all non-key columns must depend only on the primary key.

**Example Table**: Suppose a table:

```
| payment_id | customer_id | customer_name | amount |
```

* `customer_name` depends on `customer_id`, not directly on `payment_id`.

**Fix:**

* Move `customer_name` to a separate `customer` table.

---

### ✅ **4. Normalization Process (up to 2NF)**

**Unnormalized Table:**

```
| customer_id | customer_name | film_titles         |
|-------------|----------------|---------------------|
| 1           | Alice          | 'Matrix, Inception' |
```

**1NF:**

```
| customer_id | customer_name | film_title  |
|-------------|----------------|-------------|
| 1           | Alice          | Matrix      |
| 1           | Alice          | Inception   |
```

**2NF:**

* Remove redundant `customer_name` (dependent only on `customer_id`):

```
Customer Table:
| customer_id | customer_name |

Customer_Film Table:
| customer_id | film_title    |
```

---

## 🔷 CTE (Common Table Expressions)

### ✅ **5. CTE Basics – Actor name and number of films**

```sql
WITH actor_films AS (
    SELECT actor_id,
           CONCAT(first_name, ' ', last_name) AS actor_name,
           COUNT(film_id) AS film_count
    FROM film_actor
    JOIN actor USING (actor_id)
    GROUP BY actor_id, actor_name
)
SELECT * FROM actor_films;
```

---

### ✅ **6. CTE with Joins – Film title, language name, rental rate**

```sql
WITH film_info AS (
    SELECT f.title,
           l.name AS language,
           f.rental_rate
    FROM film f
    JOIN language l ON f.language_id = l.language_id
)
SELECT * FROM film_info;
```

---

### ✅ **7. CTE for Aggregation – Total revenue by customer**

```sql
WITH customer_revenue AS (
    SELECT customer_id,
           SUM(amount) AS total_revenue
    FROM payment
    GROUP BY customer_id
)
SELECT c.first_name, c.last_name, cr.total_revenue
FROM customer c
JOIN customer_revenue cr ON c.customer_id = cr.customer_id;
```

---

### ✅ **8. CTE with Window Functions – Rank films by rental duration**

```sql
WITH film_ranks AS (
    SELECT title,
           rental_duration,
           RANK() OVER (ORDER BY rental_duration DESC) AS rank_by_duration
    FROM film
)
SELECT * FROM film_ranks;
```

---

### ✅ **9. CTE and Filtering – Customers with more than 2 rentals**

```sql
WITH frequent_customers AS (
    SELECT customer_id,
           COUNT(*) AS rental_count
    FROM rental
    GROUP BY customer_id
    HAVING COUNT(*) > 2
)
SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN frequent_customers f ON c.customer_id = f.customer_id;
```

---

### ✅ **10. CTE for Date Calculations – Rentals per month**

```sql
WITH monthly_rentals AS (
    SELECT DATE_FORMAT(rental_date, '%Y-%m') AS rental_month,
           COUNT(*) AS total_rentals
    FROM rental
    GROUP BY rental_month
)
SELECT * FROM monthly_rentals;
```

---

### ✅ **11. CTE and Self-Join – Pairs of actors in same film**

```sql
WITH actor_pairs AS (
    SELECT fa1.film_id,
           fa1.actor_id AS actor1,
           fa2.actor_id AS actor2
    FROM film_actor fa1
    JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE fa1.actor_id < fa2.actor_id
)
SELECT a1.first_name AS actor1_first, a1.last_name AS actor1_last,
       a2.first_name AS actor2_first, a2.last_name AS actor2_last,
       f.title
FROM actor_pairs ap
JOIN actor a1 ON ap.actor1 = a1.actor_id
JOIN actor a2 ON ap.actor2 = a2.actor_id
JOIN film f ON ap.film_id = f.film_id;
```

---

### ✅ **12. Recursive CTE – Find employees reporting to a specific manager**

Assuming `staff(reports_to)` exists (not in Sakila, but for demo):

```sql
WITH RECURSIVE subordinates AS (
    SELECT staff_id, first_name, last_name, reports_to
    FROM staff
    WHERE staff_id = 1  -- starting manager

    UNION ALL

    SELECT s.staff_id, s.first_name, s.last_name, s.reports_to
    FROM staff s
    JOIN subordinates sub ON s.reports_to = sub.staff_id
)
SELECT * FROM subordinates;
``